.header {
    width: 100%;
    height: 70px;
    background-color: rgb(22, 25, 71);
    display: flex;
    justify-content: space-between;

    >div {
        height: 100%;

        &:nth-of-type(1) {
            >figure {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 10px;
                color: white;
                text-transform: capitalize;

                >figcaption{
                    margin-left: 10px;
                    font-size: 18px;
                }
            }
        }

        &:nth-of-type(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
            gap: 10px;

            >span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                text-transform: capitalize;
                cursor: pointer;
                border-radius: 10px;
                padding-inline: 30px;
                padding-block: 10px;

                &:nth-of-type(1) {
                    background-color: rgb(0, 206, 51);
                }

                &:nth-of-type(2) {
                    background-color: rgb(0, 148, 206);
                }
            }
        }
    }

    >nav {
        height: 100%;
        padding-inline: 10px;

        >ul {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;

            >li{
                color: white;
                text-transform: capitalize;
                cursor: pointer;
                list-style-type: none;
                list-style: none;
            }
        }
    }
}